@(loginForm: Form[(String,String)])

	@import helper._
	
	 @main(title = "登录") {
	 	
	 	<h2>用户登录</h2>
	 	
	 	@form(action = controllers.user.routes.Users.login, args = 'id -> "userloginForm"){
	 		
	 		@inputText(field = loginForm("username"), args = '_label -> "用户名", 'placeholder ->"UserName")
          
			@inputPassword(field = loginForm("password"),args = '_label -> "密码", 'placeholder ->"Password" ,
				'_error -> loginForm.globalError.map(_.withMessage("用户名或密码错误，请重新输入!")))
			
            <a href = "@routes.Application.register"><input type="button" class = "buttons" value="注册"></a>
            
            <input type= "submit" class = "buttons" value="登录">
	 	}
	 }